@import '../tokens/tokens.css';
@import '../themes/light.css';
@import '../themes/dark.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--usps-font-family);
  font-size: var(--usps-font-size-body);
  line-height: var(--usps-line-height-body);
  color: var(--usps-theme-text);
  background-color: var(--usps-theme-bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
