.usps-spinner {
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

.size-sm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.size-md {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

.size-lg {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

.color-primary {
  border-color: var(--usps-color-primary);
  border-top-color: transparent;
  border-right-color: transparent;
}

.color-white {
  border-color: var(--usps-color-white);
  border-top-color: transparent;
  border-right-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
