.usps-divider {
  border: none;
  margin: 0;
  background-color: var(--usps-color-gray-dark);
}

.orientation-horizontal {
  width: 100%;
  height: 1px;
}

.orientation-vertical {
  width: 1px;
  height: 100%;
  display: inline-block;
}
